.html
{
	background: #7F7F7F url("../images/restaurant_icons.png") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 577px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
}

#u332
{
	z-index: 2;
	width: 959px;
	padding-bottom: 0px;
}

#page_position_content,#u332_position_content
{
	margin-top: -1px;
}

#pu69
{
	width: 0.01px;
	left: -1px;
	position: relative;
}

#u69
{
	z-index: 3;
	width: 300px;
	margin-right: -10000px;
}

#u86
{
	z-index: 6;
	width: 43px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 797px;
}

#u96
{
	z-index: 10;
	width: 43px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 847px;
}

#u91
{
	z-index: 8;
	width: 43px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 898px;
}

#u86_img,#u96_img,#u91_img
{
	padding-bottom: 1px;
}

#u85
{
	z-index: 5;
	width: 960px;
	height: 5px;
	left: -1px;
	margin-top: 5px;
}

#u682
{
	z-index: 31;
	width: 960px;
	top: -1px;
	margin-bottom: -1px;
}

#menuu363
{
	z-index: 12;
	width: 960px;
}

#u371
{
	width: 318px;
	min-height: 34px;
	margin-right: -10000px;
}

#u372
{
	width: 318px;
	padding-bottom: 10px;
}

#u372:hover
{
	margin: 0px;
}

#u372:active
{
	margin: 0px;
}

#u374-4
{
	width: 318px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u372:hover #u374-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u372:active #u374-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u364
{
	width: 319px;
	min-height: 34px;
	margin-right: -10000px;
	left: 320px;
}

#u367
{
	width: 319px;
	padding-bottom: 10px;
}

#u372.MuseMenuActive,#u367:hover
{
	margin: 0px;
}

#u367:active
{
	margin: 0px;
}

#u369-4
{
	width: 319px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u372.MuseMenuActive #u374-4,#u367:hover #u369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u367:active #u369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u406
{
	width: 319px;
	min-height: 34px;
	margin-right: -10000px;
	left: 641px;
}

#u407
{
	width: 319px;
	padding-bottom: 10px;
}

#u367.MuseMenuActive,#u407:hover
{
	margin: 0px;
}

#u407:active
{
	margin: 0px;
}

#u407.MuseMenuActive
{
	margin: 0px;
}

#u408-4
{
	width: 319px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
}

#u367.MuseMenuActive #u369-4,#u407:hover #u408-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u407:active #u408-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u407.MuseMenuActive #u408-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u429
{
	z-index: 33;
	width: 959px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #3B2314;
	padding-bottom: 3px;
	margin-top: 527px;
	position: relative;
}

#u430-4
{
	z-index: 34;
	width: 528px;
	min-height: 21px;
	color: #FFFFFF;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 8px;
}

#u613-6
{
	z-index: 38;
	width: 199px;
	min-height: 21px;
	color: #FFFFFF;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 750px;
}

#u613-2
{
	text-decoration: none;
	color: #FFFFFF;
}

body
{
	padding-bottom: 77px;
}

#page .verticalspacer
{
	clear: both;
}

